<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="UTF-8">
<title> Browsing Businesses </title>
<link rel="stylesheet" href="../static/css/browse.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body>
<main>
    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">

        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/misc/uncle-iroh.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Uncle Iroh's Tea Shoppe</div>
                            <div class="job">Food</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <a href="/purchase"><button type="button">Buy a Share</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/misc/tiana.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Tiana's Palace</div>
                            <div class="job">Food</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <button type="button">Buy a Share</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/misc/kiki's-delivery-service.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Kiki's Delivery Service</div>
                            <div class="job">Service</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <button type="button">Buy a Share</button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/misc/market.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Sakanoshita Market</div>
                            <div class="job">Food, Services</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <button type="button">Buy a Share</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/misc/weasley.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Weasley's Wizard Wheezes</div>
                            <div class="job">Entertainment</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <button type="button">Buy a Share</button>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="../static/misc/rat.jpeg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Gusteau's</div>
                            <div class="job">Food</div>
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <button type="button">Buy a Share</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
    </div>
</main>

</body>

</html>